  html{
        position: relative;
        min-height: 83.8%;
      }
      body{
        margin: 0 0 100px;
        line-height: 0.428571;
      }
      footer{
       /* position:absolute;*/
        left:0;
        bottom:0;
        height:90px;
        width:100%;
        border-top: 8px solid #be7726;
      }
    .container{
          padding-top: 0px;
          padding-bottom: 10px;
          width: 1011px;
          margin-left: 17px;
    }
    .row{
      padding-top:0px;
      padding-bottom:32px;
      margin-left: 30px;
    }
   
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
    .carousel img {
          width:100% !important;
          min-width:100 !important;
          height: auto;
      }
      .fixed-height{
        max-height: 400px;
      }
      .jumbotron{
        color:#5c5c5c;
        background-color: #fdfdfd;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 112px;
        height: 210px;
      }
      .jumbotron p {
          margin-bottom: 15px;
          font-size: 36px;
          font-weight: 700;
          font-family: calibri;
          color: darkslategray;
      }
      .img-responsive{
        position: relative;
        z-index: 99;
            margin-top: -109px;
        margin-left: 44px;
        width: 441px;
        height: auto;
        
            /*height: 117px;*/
      }
      .navigate{
        font-size: 25px;
      }
      .navbar{
        margin-top:-30px;
            margin-bottom: 0px;
      }
      .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
      .navbar .navbar1 {
        text-align: center;
        font-size:10px;
    }
    .navbar-default {
      background-color: #331A67;
       border-color: #236B8E; 
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: white;
        background-color: #104E8B;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #104E8B;
        border-color: #337ab7;
    }
      span{
        width:82px;
      }

     .btn-warning1.btn-warning1:not( :hover )
      {
          color: #fff;
          background-color:#B23AEE;
          border-color:#9932CD ;
      }

   .btn-warning1:hover{
      color: #fff;
      background-color:#9932CC;
    }
    .icon1{
      padding-top: 30px;
      padding-bottom: 27px;
      line-height: 25px;
          margin-bottom: -4.6px;
      background-color: #1f2b3069;
    }
    .bmg
    {
        background-image: url('../images/home-bg.jpg');
        background-color: white;
        background-repeat: no-repeat;
        background-size: 168%;
    height: 1209px;
    background-position-x: -294px;
    }
    span.glyphicon {
        font-size: 1.5em;
    }
    .glyphicon{
      line-height: 1.3;
      width: 134px;
      height: 23px;
      display: inline;
    }
    .txt{

          font-size: 18px;
        font-family: calibri;

    display: inline-block;
      transform: scale(2.5, 2.5);
      -webkit-transform: scale(2.5, 2.5); /* Safari and Chrome */
      -moz-transform: scale(2.5, 2.5); /* Firefox */
      -ms-transform: scale(2.5, 2.5); /* IE 9+ */
      -o-transform: scale(2.5, 2.5); /* Opera */
  
    }
    .flag{
      height:37px;
      width:37px;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 35px 54px;
        line-height: 0.83;
        height: 236px;
    }
    .alert {
        text-align: center;
        font-size: 53px;
        font-family: OpenSans-Regular;
        padding: 35px;
        width: 920px;
        margin-left: 16px;
        margin-bottom: 0px;
        font-stretch: ultra-expanded;
        cursor: pointer; cursor: hand;
    }

    .nav>li>a {
            padding: 16px 15px;
        font-size: 17px;
         font-family: arial;
    }

    /*.header-txt, .header-right{
      font-size:30px;
      display: inline-block;
          transform: scale(1.1, 1.1);
          -webkit-transform: scale(1.1, 1.1);  Safari and Chrome 
          -moz-transform: scale(1.1, 1.1); /* Firefox 
          -ms-transform: scale(1.1, 1.1); /* IE 9+ 
          -o-transform: scale(1.1, 1.1); /* Opera */
    /*}*//***//*/*/
   
  
    .explore{
       font-size: 32px;
    font-family: calibri;
    padding-top: 20px;
    background-color: #f8f8f8;
    color: darkgrey;
    text-align: center;
    padding-bottom:14px;
    }

    #content_term{
          margin-left: -183px;
          padding-top: 11px;
    }
    #content_air{
      position: relative;
      top: 54px;
      font-size: 35px;
      font-weight: bold;
    }
    #HF{
          height: 346px;
           width: 249px;
    }

    .alert-success {
        color: white;
        background-color: #dff0d8;
        border-color: #666666;
    }

    .dropdown-menu {
         right: 0;left:unset;
         min-width: 80px;

    }
    .icon-img{
      height: 200px;
      width:209px;
      padding-left:20px;
      padding-top:50px;
      background: transparent;
      background-color:black;
      color: #fff;
      opacity: 0.5;
      border: 3px solid black;
    }
     .icon-title{
      position: absolute;
      /*top: 58px;*/
        width: 257px;
        height: 100px;
            font-family: OpenSans-Regular;
            font-size: 40px;
            color: white;
            font-style: bold;
            padding-left: 0px;
            padding-top: 35px;
            text-align: center;
            font-weight: 200;
    }

    .parent{
         width: 290px;
         height: 290px;
         line-height: 33px;
         text-align: center;
         border-radius: 25px;
   }
 
   
    .child{
        position: relative;
        padding-right: 20px;
        padding-top: 20px;
        padding-left: 20px;
        width: 230px;
        /*height: 175px;*/
    }
    .img-child{
              /* position: relative; */
    /* padding-right: 10px; */
    padding-top: 20px;
    /* padding-left: 60px; */
    width: 184px;
    /* height: 178px;
    }
    .navbar .vdivider {
      height: 86px;
      margin: 0 13px -1px -12px;
      border-left: 1px solid #6CA6CD;
      /*border-right: 1px solid #ffffff;*/
      }

/*      a:hover {
         color: red; 
         text-decoration: none; 
      }*/

      .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
         color: white; 
         background-color: #104E8B; 
      }


      @keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
            transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    
  }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
            transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
   
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
            transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
   }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    
  }
}
.flip {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: top bottom;
            transform-origin: top bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
          animation-name: rotateInDownLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes rotateInLeftDown{
  0% {
    -webkit-transform-origin: top bottom;
            transform-origin: top bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: top bottom;
            transform-origin: top bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
@keyframes rotateInLeftDown {
  0% {
    -webkit-transform-origin: top bottom;
            transform-origin: top bottom;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
            transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: top bottom;
            transform-origin: top bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
.rotateInLeftDown {
  -webkit-animation-name: rotateInLeftDown;
          animation-name: rotateInLeftDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.carousel-inner.anim > .active {
  left: 0;
}
.carousel-inner.anim > .next,
.carousel-inner.anim > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner.anim > .next.left {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-animation-name: rotateInLeftDown;
          animation-name: rotateInLeftDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  left: 0;
}
.carousel-inner.anim > .prev.right {
  -webkit-animation-name: rotateInDownLeft;
          animation-name: rotateInDownLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  left: 0;
}
.carousel-inner.anim > .active.left {
  left: -100%;
}
.carousel-inner.anim > .active.right {
  left: 100%;
}
.nopadding{padding: 0 !important;}
.nomargin{margin: 0 !important;}
.right{float: right; position: absolute;right: 0}
.icons-home{
  width: 312px;
    height: 310px;
    background-color: #0068B3;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
}